.item{
  background: white;
  boarder: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item__message {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.item--position-1 {
  background: $green;
  border:1px solid  $green-alt;
}

.item--position-2 {
  background: $blue;
  border: 1px solid $blue-alt;
}

.item--position-3 {
  background: $red;
  border: 1px solid  $red-alt;
}
